<body style="background-color: beige;">
    <div class="page" data-ng-init="load()">
        <div class="hd">
            <h2 class="page_title">{{username}}的主页</h2>
            <p class="page_desc">合理安排空余时间， 邀请好友活动起来吧~</p>
        </div>
        <div id="headimg"><img src="{{headimgUrl}}" height="70px" width="70px"/></div>
        <div style="margin: 0;background-color: aliceblue;z-index: 100">
            <div class="bd">
                <div class="weui_cells weui_cells_access global_navs" >
                    <a class="weui_cell js_cell" ng-controller="BtnCtrl" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
                        <div class="weui_cell_bd weui_cell_primary page_desc">
                            <div id="timeline-mini" style="min-height: 105px; margin: 0 auto" >
                                <br/>
                                <br/>
                                <canvas id="myChart" width="310" height="170"></canvas>
                                <div class="weui_cell_ft" ui-sref="settime" style="margin-right: 5%"></div>
                                <br/>
                                <p class="page_desc" style="background-color: #10AEFF">请选择左侧分组，查看不同组的周空闲时长图</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="bd"><br/>
                <div class="weui_cells_title">群成员</div>
                <div class="weui_cells weui_cells_access">
                    <a class="weui_cell js_cell" ui-sref="groupmenbers" ng-repeat="mygroup in groupnames.mygroup" ng-click="getOneGroupInfo(mygroup.id,mygroup.owner.backup_name)">
                        <div class="weui_cell_hd groupimg" id="headimg2"><img src="{{mygroup.owner.headimg_url}}" alt="" style="width:40px;height: 40px;margin-right:20px;display:block"></div>
                        <div class="weui_cell_bd weui_cell_primary">{{mygroup.owner.backup_name}}的活动群
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>

                    <a class="weui_cell js_cell" style="background-color: #f8f8f8" href="javascript:;">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p class="page_desc" style="color: #04BE02">要组织活动？点击下面的按钮新建群吧</p>
                        </div>
                    </a>
                </div>
            </div>
            <br/>
            <div class="button_lookfortime">
                <a class="weui_btn weui_btn_primary" ng-click="createGroup(username)" ui-sref="groupmenbers">新建一个活动群</a>
                <a class="weui_btn weui_btn_primary" ng-click="getToken2Store()">getToken2Store</a>
            </div><br/>
        </div>
    </div>


</body>
