<body>
    <div class="page"ng-controller="BtnCtrl" data-ng-init="load3()">
        <div class="weui_cells" style="margin-top:0">
            <ul class="week-btn-group">
                <li class="week-btn" ng-class="bg[$index]" ng-click="weekShow(week,$index)" ng-repeat="week in weeks">{{week}}</li>
            </ul>
            <ul class="mainGroupTab">
                <li ng-class="bg[$index]" ng-click="dateShow(date,$index)" ng-repeat="date in dates">{{date}}</li>
                <li class="slider"></li>
            </ul>
        </div>
        <!--<div class="weui_cells_tips">底部说明文字底部说明文字</div>-->
        <br/>
        <br/>

        <div id="timeline" style="margin: 0 auto;background-color: aliceblue" >
            <div class="timechartBG">
            <a class="weui_cell js_cell" ng-repeat="member in timelines.member">
                <div class="weui_cell_hd groupimg headimg3"><img src="./images/bg4.png" alt="" style="width:40px;height: 40px;margin-right:20px;display:block"></div>
                <div class="weui_cell_bd weui_cell_primary"><div class="members-timeline" style="width:{{(member.user.endtime - member.user.starttime)/24*80}}%;margin-left:{{member.user.starttime*80/24}}%">
                    <p>{{member.user.starttime}}时至{{member.user.endtime}}时</p>
                </div>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
            <canvas id="myChart2" width="320px"></canvas>
            </div>
        </div>

        <div class="weui_cells_title">匹配结果</div>
        <div class="weui_cells weui_cells_access">
            <!--<a class="weui_cell js_cell" href="javascript:;">-->
                <!--<div class="weui_cell_bd weui_cell_primary">-->
                    <!--<p>匹配条件</p>-->
                <!--</div>-->
                <!--<div class="weui_cell_ft">未选择</div>-->
            <!--</a>-->
            <a class="weui_cell js_cell" href="javascript:;">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>共同时间段</p>
                </div>
                <div class="weui_cell_ft">未匹配</div>
            </a>
            <a class="weui_cell js_cell" href="javascript:;">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>约定地点</p>
                </div>
                <div class="weui_cell_ft">未输入地点</div>
            </a>
        </div>

        <div class="bd spacing"><br/>
            <a href="javascript:;" class="weui_btn weui_btn_primary">群发匹配结果至活动群</a>
        </div>
    </div>

    <script src="./js/jquery-2.1.4.min.js"></script>
    <script src="./js/highcharts.js"></script>
    <script src="./js/highcharts-more.js"></script>
    <script src="./js/GroupTimeline.js"></script>

</body>